@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #015486;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: none;
    border-bottom: solid 1px #7EBAFF;
    align-items: center;
}

header nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

header nav li a{
    color: #7EBAFF; 
    font-family: "Inter", sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

header nav li a:hover{
    color: white;
    transform: scale(1.2);
}

#logo{
    font-family: "Inter", sans-serif;
    color: #7EBAFF;
    font-size: 26px;
    font-weight: bolder;
}

#mark{
    color: white;
}

#titlPag{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}


.carousel {
    height: 80vh;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: background-image 1s ease-in-out;
}
  
.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    display: flex;
}

#overlay-text-border{
    padding: 28% 10%;
    border-left: 1px solid white;
}
  
.overlay h1 {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 4rem;
    font-weight: bold;

}
  
/* Arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    z-index: 10;
}
  
.left {
    left: 10px;
}
  
.right {
    right: 10px;
}

footer{
    padding: 20.5px;
    background: #7EBAFF;
}

footer p{
    color: white;
    font-family: "Inter", sans-serif;
}
